build/
RicohAPIMstorage.xcodeproj/*.pbxuser
RicohAPIMstorage.xcodeproj/*.mode*
RicohAPIMstorage.xcodeproj/xcuserdata/
RicohAPIMstorage.xcodeproj/project.xcworkspace/

Sample/MediaStorageSample.xcodeproj/*.pbxuser
Sample/MediaStorageSample.xcodeproj/*.mode*
Sample/MediaStorageSample.xcodeproj/xcuserdata/
Sample/MediaStorageSample.xcodeproj/project.xcworkspace/

RicohAPIMstorage.xcworkspace/xcuserdata
RicohAPIMstorage.xcworkspace/xcshareddata/*.xcscmblueprint

.DS_Store
*.swp
