build/
RicohAPIMStorage.xcodeproj/*.pbxuser
RicohAPIMStorage.xcodeproj/*.mode*
RicohAPIMStorage.xcodeproj/xcuserdata/
RicohAPIMStorage.xcodeproj/project.xcworkspace/

Sample/RicohAPIMstorageSample.xcodeproj/*.pbxuser
Sample/RicohAPIMstorageSample.xcodeproj/*.mode*
Sample/RicohAPIMstorageSample.xcodeproj/xcuserdata/
Sample/RicohAPIMstorageSample.xcodeproj/project.xcworkspace/

RicohAPIMStorage.xcworkspace/xcuserdata
RicohAPIMStorage.xcworkspace/xcshareddata/*.xcscmblueprint

.DS_Store
*.swp
