build/
MediaStorage.xcodeproj/*.pbxuser
MediaStorage.xcodeproj/*.mode*
MediaStorage.xcodeproj/xcuserdata/
MediaStorage.xcodeproj/project.xcworkspace/

Sample/MediaStorageSample.xcodeproj/*.pbxuser
Sample/MediaStorageSample.xcodeproj/*.mode*
Sample/MediaStorageSample.xcodeproj/xcuserdata/
Sample/MediaStorageSample.xcodeproj/project.xcworkspace/

RicohAPIMstorage.xcworkspace/xcuserdata

.DS_Store
*.swp
